<div class="admin"><%= render 'admin_users/admin_header' %>
  <h1>商品一覧</h1></div>

   <% @items.each do |a| %>
    <div class="item_index">
    <%= link_to admin_item_path(a.id) do %>
     <div><%= attachment_image_tag a, :item_image, :fill, 200, 200, format: 'jpeg' %></div>
     <h3><%= a.item_name %></h3>
    <% end %>
    </div>
  <% end %>




