<div>
 <span><%= link_to "ログアウト", destroy_admin_user_session_path, method: :delete %></span>
 <span><%= link_to "商品追加画面", new_item_path %></span>
 <span><%= link_to "管理トップページ",  admin_users_show_path %></span>
</div>