<div class="head">
 <span class="glyphicon glyphicon-th-list" aria-hidden="true"><%= link_to "商品一覧", end_items_path %></span>
 <span class="glyphicon glyphicon-user" aria-hidden="true"><%= link_to "マイページ", end_user_path(current_end_user.id) %></span>
 <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"><%= link_to "カートページ", end_cart_items_path %></span>
</div>