<div>
 <span class='title'><%= link_to "商品一覧", end_items_path %></span>
 <span class='title'><%= link_to "マイページ", end_user_path(current_end_user.id) %></span>
 <span class='title'><%= link_to "カートページ", end_cart_items_path %></span>
 <span class='title'><%= link_to "商品購入", new_end_purchase_history_path %></span>
</div>