// Place all the styles related to the end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//--------- 部分テンプレート ----------


.head{
	margin-top: 5px;
}



//--------- マイページ -------------


.my_page{
	 background-image: url("/images/platter-2009590_1920.jpg");
	 height: 800px;
	 background-size: cover;
}


.header{
	text-align: center;
	font-size: 30px;
	color: orange;
}


.title{
	text-align: center;
	color: red;
	font-size: 50px;
}


.mini_body{
	text-align: center;
	font-size: 40px;
	margin-top: 30px;
}



//-------  ログイン画面 ---------


.log_in_body{
	text-align: center;
}


.field{
	font-size: 20px;
}


.log_in_botton{
	margin-top: 15px;
}


//----- 登録画面 --------


.registration_body{
	text-align: center;
}


.botton{
	margin-top: 15px;
}


//------ 編集画面 -------


.edit_body{
	text-align: center;
}


.edit_botton{
	margin-top: 15px;
}




//------ 退会画面 ---------

.delete{
	text-align: center;
}


.delete_button{
	margin-top: 30px;
	font-size: 30px;
}