// Place all the styles related to the end_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//----- 商品一覧 ---------


.item_header{
	text-align: center;
	font-size: 30px;
}

.item_title{
	color: black;
	text-align: center;
}

.end_item_index{
     margin-left: 45px;
     margin-bottom: 50px;
     float: left;
     font-size: 25px;
}

//------- 商品詳細 -------

.end_show{
	text-align: center;
}

.item-submit{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 25px;
}