// Place all the styles related to the end_cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cart_title{
	text-align: center;
	font-size: 30px;
	color: black;
}


.cart_body{
	text-align: center;
	font-size: 23px;
}

.cart_body2{
	margin-bottom: 30px;
}

.delete{
	margin-bottom :15px;
}