// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// -------- 管理ログイン画面 -------

.session_body{
	text-align: center;
}

.session{
	font-size: 30px;
	margin-top: 15px;
}